.long {background-color: blue; color: white;}
.medium {background-color: green; color: white;}
.short {background-color: red; color: white;}
.tiny{background-color: yellow; color: black;}

body{
Background-image: url("http://eskipaper.com/images/music-notes-1.jpg");
}